.sec5 {
  position: relative;
  width: 100%;
  height: 220px; /* 필요에 따라 조정 / 화면 비율 맞추기 */
  background-size: cover;
  background-position: center;
  overflow: hidden;
  border-top: 0.3px solid #ffffff;
  border-bottom: 0.3px solid #ffffff;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* CSS로 섹션 크기에 맞춰 스케일 */
  height: 100%;
  pointer-events: none;
}

.textsContainer {
  position: absolute;
  bottom: 13px;
  left: 20px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #ffffff; /* 흰색 2px 두께의 경계선 */
}

.textBox {
  background: rgba(0, 0, 0, 0);
  color: #ffffff;
  padding: 0.2vh 1vw;
  border-left: 4px;
  font-size: 12px;
  line-height: 1.3;

  white-space: normal;
  word-break: break-word;
  overflow: visible;

  padding-left: 0.8vw;
}

.textsContainer
  > .textBox:nth-child(1) {
  font-size: 14px;
  font-weight: 450;
}
.textsContainer
  > .textBox:nth-child(2) {
  font-size: 8px;
  font-weight: 430;
}
